h1 {
    color: aliceblue;
}


/* table */
    table {
        font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;position: fixed;
    }

    td,th {
        border: 1px solid #ddd;
        text-align: right;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #ddd;
    }

/*size*/
    h1{
        font-size: 500%;
    }



        * {
     box-sizing: border-box;
    }
        
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
/* Style the side navigation */
    
    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ffffff;
        overflow-x: hidden;
    }
        
/* Side navigation links */
    .sidenav a {
        
        color: rgb(0, 0, 0);
        padding: 16px;
        text-decoration: none;
        display: block;
    }
    
    /* Change color on hover */
    .sidenav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Style the content */
    .content {
      margin-left: 200px;
      padding-left: 20px;
    }
          
    
            